
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url( https://i.pinimg.com/564x/db/0e/11/db0e11bac4d8ce8cf8ba88154cfc5a6a.jpg)
}

h1 {
    color: #000000;
    text-align: center;
}

h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

.especialidad {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.especialidad strong {
    color: #007bff;
}

.especialidad img {
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
    margin-right: 10px;
    border-radius: 5px;
}
