body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: ('https://i.pinimg.com/564x/fa/1c/4a/fa1c4acda4ef6c131eddf2decac5774d.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* El resto de tus estilos se mantiene igual */


header {
    background-color: #4fb9ff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



