body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f5; /* Azul celeste claro */
    color: #000000; /* Color de texto principal */
    background-image: url(https://img.freepik.com/vector-premium/patron-perro-costuras-huellas-pata-huesos-corazones-bolas-textura-pie-gato-patron-huella-perro-huesos-textura-perro-ilustracion-vectorial-dibujada-mano-estilo-garabato-sobre-fondo-blanco_192280-1320.jpg);
}

h1 {
    color: #000000; /* Negro */
    text-align: center;
    padding: 20px;
    margin: 0;
}

.nuestra-direccion {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #3498db; /* Borde azul brillante */
    border-radius: 10px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra tenue */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nuestra-direccion:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.mapa {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 10px;
}
.mapa {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #87CEEB; /* Azul celeste claro */
    padding: 10px;
    border-radius: 10000230px;
}

.mapa iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 10px;
}
